@page "/gun-configurator"
@using Microsoft.JSInterop
@using MudExtensions
@using System.Text.Json;
@using System.Text.Json.Serialization;
@using TarkovDataOrganizer
@using static TarkovDataOrganizer.TarkovData

<script>
    function getSelectedValues(selectId) {
        var select = document.getElementById(selectId);
        if (select) {
            var selectedValues = [];
            for (var i = 0; i < select.options.length; i++) {
                if (select.options[i].selected) {
                    selectedValues.push(select.options[i].value);
                }
            }
            return selectedValues;
        } else {
            console.error(`Element with id ${selectId} not found.`);
            return [];
        }
    }

    function toggleSelection(rowId) {
        var row = document.getElementById(rowId);
        row.classList.toggle('selected');

        var selectedValues = [];
        var selectedRows = document.querySelectorAll('.weapon-row.selected');
        selectedRows.forEach(row => {
            selectedValues.push(row.getAttribute('data-value'));
        });

        DotNet.invokeMethodAsync('YourAssemblyName', 'UpdateSelectedWeapons', selectedValues);
    }
</script>

<style>

    .weapon-default-image {
        width: 100%; /* Ensure it takes up the full width of the container */
        height: auto; /* Maintain the aspect ratio */
        max-width: 200px; /* Adjust as needed to fit within your layout */
        display: block; /* Ensure the image is treated as a block element */
        margin: 0 auto; /* Center the image if needed */
    }

    .weapon-image-container {
        display: flex;
        flex-direction: column;
        height: 100px;
        overflow-y: scroll;
    }

    .weapon-image {
        width: 50px;
        height: 50px;
        margin: 5px;
    }

    .weapon-table {
        width: 100%;
    }

    .weapon-table-td {
        height: 79px;
        display: flex;
        overflow-y: scroll;
    }

    .weapon-row {
        cursor: pointer;
    }

        .weapon-row.selected {
            background-color: #d3d3d3; /* Highlight selected row */
        }

    .scrollable-container {
        max-height: 150px; /* Adjust the height as needed */
        overflow-y: auto;
        border: 1px solid #ccc; /* Optional: Adds a border around the container */
        padding: 8px; /* Optional: Adds padding inside the container */
        margin-bottom: 16px; /* Optional: Adds space between containers */
    }

        .scrollable-container ul {
            list-style-type: none; /* Removes bullet points from the list */
            padding: 0; /* Removes default padding */
            margin: 0; /* Removes default margin */
        }

        .scrollable-container li {
            margin: 4px 0; /* Optional: Adds space between list items */
        }
</style>

<h3>Gun Configurator</h3>

@if (IsLoading)
{
    <p>Loading, please wait...</p>
}
else if (ErrorMessage != null)
{
    <p style="color:red">@ErrorMessage</p>
}
else
{
    <MudDrawerContainer>
        <MudDrawer Open="@isDrawerOpen" Anchor="Anchor.End" Variant="DrawerVariant.Temporary" Elevation="5" Style="padding: 10px;">
            @if (SelectedCombination != null)
            {
                <h3>@SelectedWeapon?.name</h3>
                <img id="weaponImage-@SelectedWeapon?.name" src="@SelectedWeapon?.defaultPresetBaseImageLink" alt="Selected Weapon Image" style="width: 100%; height: auto;" />
                <p>Recoil Vertical: @SelectedCombination.RecoilVertical</p>
                <p>Ergonomics: @SelectedCombination.Ergonomics</p>
                <p>Velocity: @SelectedCombination.Velocity</p>
                <p>Base Price: @SelectedCombination.BasePrice</p>
                <p>Accuracy Modifier: @SelectedCombination.AccuracyModifier</p>
                <p>Weight: @SelectedCombination.Weight</p>

                @foreach (var slotGroup in SelectedCombination.SlotGroups)
                {
                    <div style="margin-bottom: 20px;">
                        <div style="display: flex; align-items: center;">
                            <strong>@slotGroup.Key:</strong>
                        </div>
                        <div style="margin-left: 10px;">
                            @if (slotGroup.Value.Any())
                            {
                                @foreach (var attachment in slotGroup.Value)
                                {
                                    <div style="display: flex; align-items: center; margin-top: 10px;">
                                        <img src="@attachment.gridImageLink" alt="@attachment.name" style="width: 50px; height: 50px; margin-right: 10px;" />
                                        <span>@attachment.name</span>
                                        <span style="margin-left: 10px;">
                                            Recoil Mod: @attachment.recoilModifier,
                                            Ergo Mod: @attachment.ergonomicsModifier,
                                            Velocity: @attachment.velocity,
                                            Weight: @attachment.weight
                                        </span>
                                    </div>

                                    @if (attachment.HasSubSlots())
                                    {
                                        <MudTreeView T="string">
                                            @foreach (var subslot in attachment.GetSubSlots())
                                            {
                                                var subslotItem = TarkovData.TarkovItem.DataTable.GetValueOrDefault(subslot.allowedIDs.FirstOrDefault());
                                                if (subslotItem != null)
                                                {
                                                    var slotType = subslot.name; // Retrieve the slot type
                                                    <MudTreeViewItem T="string" Text="@slotType">
                                                        <div>
                                                            <div style="margin-left: 10px;">
                                                                <div style="display: flex; align-items: center; margin-top: 10px;">
                                                                    <img src="@subslotItem.gridImageLink" alt="@subslotItem.name" class="weapon-image" />
                                                                    <span>@subslotItem.name</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </MudTreeViewItem>
                                                }
                                            }
                                        </MudTreeView>
                                    }
                                }
                            }
                            else
                            {
                                <div style="display: flex; align-items: center; margin-top: 10px;">
                                    <span style="color: gray;">(Empty Slot)</span>
                                </div>
                            }
                        </div>
                    </div>
                }
            }
        </MudDrawer>
    </MudDrawerContainer>

    <div style="padding: 16px;">
        <div>
            <table>
                <thead>
                    <tr>
                        <th>Category</th>
                        <th>Weapon</th>
                        <th>Caliber</th>
                        <th>Attachments</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <MudSelect T="string" Label="Select Categories" Variant="Variant.Filled" @bind-Value="SelectedCategory" @bind-SelectedValues="SelectedCategories" MultiSelection="true" OnClose="OnSelectedCategoryChanged">
                                @foreach (var category in Categories)
                                {
                                    <MudSelectItem T="string" Value="@category">@category</MudSelectItem>
                                }
                            </MudSelect>
                        </td>
                        <td class="weapon-table-td">
                            <table class="weapon-table">
                                @foreach (var weapon in FilteredWeaponNames)
                                {
                                    <tr id="weapon-@weapon.shortName" class="weapon-row" data-value="@weapon.name" @onclick="() => OnWeaponRowClicked(weapon)">
                                        <td>
                                            <img src="@weapon.defaultPresetGridImageLink" alt="@weapon.shortName" class="weapon-image" />
                                            @weapon.shortName
                                        </td>
                                    </tr>
                                }
                            </table>
                        </td>
                        <td>
                            <MudSelect T="string"
                                       Label="Select Caliber"
                                       Variant="Variant.Filled"
                                       @bind-SelectedValues="SelectedCalibers"
                                       MultiSelection="true"
                                       OnClose="OnSelectedCaliberChanged">
                                @foreach (var caliber in Calibers)
                                {
                                    <MudSelectItem T="string" Value="@caliber">@caliber</MudSelectItem>
                                }
                            </MudSelect>
                        </td>
                        @if (SelectedWeapon != null)
                        {
                            <td>
                                <MudSelect T="string" @bind-Value="SelectedAttachment" Variant="Variant.Filled" InputId="attachmentSelect">
                                    @foreach (var slot in AvailableSlots)
                                    {
                                        <MudSelectItem Value="@slot.AllowedItemId">@slot.SlotName: @slot.AllowedItemName</MudSelectItem>
                                    }
                                </MudSelect>
                            </td>
                        }
                    </tr>
                </tbody>
            </table>
        </div>

        <div>
            <table>
                <thead>
                    <tr>
                        @if (SelectedWeapon != null)
                        {
                            <th>Attributes</th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @if (SelectedWeapon != null)
                    {
                        <tr>
                            <td>
                                <small>
                                    Recoil Vertical Range:
                                    <span>@VerticalRecoilMin</span> - <span>@VerticalRecoilMax</span>
                                </small>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <small>
                                    Ergonomics Range:
                                    <span>@ErgonomicsMin</span> - <span>@ErgonomicsMax</span>
                                </small>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <small>
                                    Velocity Range:
                                    <span>@VelocityMin</span> - <span>@VelocityMax</span>
                                </small>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <small>
                                    Base Price Range:
                                    <span>@BasePriceMin</span> - <span>@BasePriceMax</span>
                                </small>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <small>
                                    Accuracy Modifier Range:
                                    <span>@AccuracyModifierMin</span> - <span>@AccuracyModifierMax</span>
                                </small>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <small>
                                    Weight Range:
                                    <span>@WeightMin</span> - <span>@WeightMax</span>
                                </small>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <small>
                                    Fire Rate Range:
                                    <span>@FireRateMin</span> - <span>@FireRateMax</span>
                                </small>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <small>
                                    Center of Impact Range:
                                    <span>@CenterOfImpactMin</span> - <span>@CenterOfImpactMax</span>
                                </small>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <small>
                                    Deviation Curve Range:
                                    <span>@DeviationCurveMin</span> - <span>@DeviationCurveMax</span>
                                </small>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <small>
                                    Deviation Max Range:
                                    <span>@DeviationMaxMin</span> - <span>@DeviationMaxMax</span>
                                </small>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        @if (SelectedWeapon != null)
        {
            var totalCombinations = TarkovData.TarkovItem.GenerateUniqueCombinations(SelectedWeapon);
            int pageSize = 20;

            <MudDataGrid T="TarkovData.TarkovItem.WeaponCombination" ServerData="LoadServerData" RowsPerPage="pageSize" Height="45vh" Filterable="true" SortMode="SortMode.Multiple" Dense="false" Hover="true" Bordered="true" Striped="true">
                <Columns>
                    <TemplateColumn T="TarkovData.TarkovItem.WeaponCombination">
                        <CellTemplate>
                            <img src="@SelectedWeapon.defaultPresetBaseImageLink" alt="@SelectedWeapon.shortName" class="weapon-default-image" />
                            <span>@SelectedWeapon.shortName</span>
                        </CellTemplate>
                    </TemplateColumn>

                    <PropertyColumn Property="x => x.RecoilVertical" Title="Recoil Vertical" />
                    <PropertyColumn Property="x => x.Ergonomics" Title="Ergonomics" />
                    <PropertyColumn Property="x => x.Velocity" Title="Velocity" />
                    <PropertyColumn Property="x => x.AccuracyModifier" Title="Accuracy Modifier" />
                    <PropertyColumn Property="x => x.Weight" Title="Weight" />
                    <PropertyColumn Property="x => x.BasePrice" Title="Base Price" Format="C2" />

                    <TemplateColumn T="TarkovData.TarkovItem.WeaponCombination" Title="Attachments">
                        <CellTemplate>
                            <div style="display: flex; flex-wrap: nowrap; gap: 10px; padding: 10px; align-items: center;">
                                @foreach (var slotGroup in context.Item.SlotGroups)
                                {
                                    <div>
                                        @if (slotGroup.Key != null)
                                        {
                                            <strong>@slotGroup.Key</strong>
                                            <div style="display: flex; gap: 5px; align-items: center;">
                                                @foreach (var attachment in slotGroup.Value)
                                                {
                                                    <div style="display: flex; flex-direction: column; align-items: center;">
                                                        <img src="@attachment.gridImageLink" alt="@attachment.name" class="weapon-image" />
                                                    </div>
                                                }
                                            </div>
                                        }
                                    </div>
                                }
                            </div>
                        </CellTemplate>
                    </TemplateColumn>

                    <TemplateColumn T="TarkovData.TarkovItem.WeaponCombination">
                        <CellTemplate>
                            <MudButton OnClick="() => HandleCombinationSelection(context.Item)">
                                Select This Combination
                            </MudButton>
                        </CellTemplate>
                    </TemplateColumn>
                </Columns>
                <PagerContent>
                    <MudDataGridPager PageSizeOptions=@(new int[] {5, 10, 20}) />
                </PagerContent>
            </MudDataGrid>
        }
    </div>
}

@code {
    private List<string> Calibers = new List<string>();
    private List<float> RecoilVerticals = new List<float>();
    public List<string> SelectedWeapons { get; set; } = new List<string>();
    public string? SelectedCategory { get; set; }
    public string? SelectedAttachment { get; set; }
    public string? SelectedCaliber { get; set; }
    public IEnumerable<string> SelectedCategories { get; set; } = new List<string>();
    public IEnumerable<string> SelectedCalibers { get; set; } = new List<string>();
    public IEnumerable<float> SelectedVerticalRecoils { get; set; } = new List<float>();
    public float SelectedVerticalRecoil { get; set; }
    public float SelectedVelocity { get; set; }
    public int SelectedBasePrice { get; set; }
    public float SelectedAccuracyModifier { get; set; }
    public float SelectedWeight { get; set; }
    public TarkovData.TarkovItem? SelectedWeapon { get; set; }
    public List<string> Categories { get; set; } = new();
    private IEnumerable<float> SelectedWeights { get; set; } = new List<float>();
    private List<DisplaySlot> AvailableSlots { get; set; } = new List<DisplaySlot>();
    private float SelectedErgonomics { get; set; }
    private bool IsLoading { get; set; } = true;
    private string? ErrorMessage { get; set; }
    private float SelectedFireRate { get; set; }
    private float SelectedCenterOfImpact { get; set; }
    private float SelectedDeviationCurve { get; set; }
    private float SelectedDeviationMax { get; set; }

    private float VerticalRecoilMin { get; set; }
    private float VerticalRecoilMax { get; set; }

    private float ErgonomicsMin { get; set; }
    private float ErgonomicsMax { get; set; }

    private float VelocityMin { get; set; }
    private float VelocityMax { get; set; }

    private int BasePriceMin { get; set; } = 0;
    private int BasePriceMax { get; set; }

    private float AccuracyModifierMin { get; set; } = 0;
    private float AccuracyModifierMax { get; set; } = 2;

    private float WeightMin { get; set; }
    private float WeightMax { get; set; }

    private float FireRateMin { get; set; }
    private float FireRateMax { get; set; }

    private float CenterOfImpactMin { get; set; }
    private float CenterOfImpactMax { get; set; }

    private float DeviationCurveMin { get; set; }
    private float DeviationCurveMax { get; set; }

    private float DeviationMaxMin { get; set; }
    private float DeviationMaxMax { get; set; }

    private IEnumerable<float> SelectedAccuracyModifiers { get; set; } = new List<float>();

    private TarkovData.TarkovItem.WeaponCombination? SelectedCombination { get; set; }

    private void OnCombinationSelected(TarkovData.TarkovItem.WeaponCombination combination)
    {
        SelectedCombination = combination;
        StateHasChanged(); // Trigger a UI update
    }

    private bool isDrawerOpen = false;

    private void ToggleDrawer()
    {
        isDrawerOpen = !isDrawerOpen;
    }

    private void HandleCombinationSelection(TarkovData.TarkovItem.WeaponCombination combination)
    {
        SelectedCombination = combination;
        isDrawerOpen = true; // Open the drawer
        StateHasChanged(); // Trigger a UI update
    }

    private void SetMinMaxSliders()
    {
        if (SelectedWeapon != null)
        {
            VerticalRecoilMin = SelectedWeapon.recoilVertical / 2;
            VerticalRecoilMax = SelectedWeapon.recoilVertical * 2;

            ErgonomicsMin = SelectedWeapon.ergonomics / 2;
            ErgonomicsMax = SelectedWeapon.ergonomics * 2;

            VelocityMin = SelectedWeapon.velocity / 2;
            VelocityMax = SelectedWeapon.velocity * 2;

            BasePriceMax = SelectedWeapon.basePrice * 2;

            WeightMin = SelectedWeapon.weight / 2;
            WeightMax = SelectedWeapon.weight * 2;

            FireRateMin = SelectedWeapon.fireRate / 2;
            FireRateMax = SelectedWeapon.fireRate * 2;

            CenterOfImpactMin = SelectedWeapon.centerOfImpact / 2;
            CenterOfImpactMax = SelectedWeapon.centerOfImpact * 2;

            DeviationCurveMin = SelectedWeapon.deviationCurve / 2;
            DeviationCurveMax = SelectedWeapon.deviationCurve * 2;

            DeviationMaxMin = SelectedWeapon.deviationMax / 2;
            DeviationMaxMax = SelectedWeapon.deviationMax * 2;
        }
    }

    private List<List<string>> GeneratedCombinations { get; set; } = new();

    private void GenerateWeaponCombinations(TarkovItem selectedWeapon)
    {
        if (selectedWeapon == null) return;

        GeneratedCombinations.Clear();

        if (TarkovItem.DataTableSlots.TryGetValue(selectedWeapon.id, out var weaponSlots))
        {
            foreach (var slot in weaponSlots.Values)
            {
                if (slot.required)
                {
                    GeneratedCombinations.Add(slot.allowedIDs);
                }
            }
        }

        StateHasChanged(); // Update UI
    }

    [Inject] private IJSRuntime JSRuntime { get; set; } = default!;

    async Task<GridData<TarkovData.TarkovItem.WeaponCombination>> LoadServerData(GridState<TarkovData.TarkovItem.WeaponCombination> state)
    {
        if (SelectedWeapon == null)
        {
            return new GridData<TarkovData.TarkovItem.WeaponCombination>
                {
                    Items = new List<TarkovData.TarkovItem.WeaponCombination>(),
                    TotalItems = 0
                };
        }

        var totalCombinations = TarkovData.TarkovItem.GenerateUniqueCombinations(SelectedWeapon);

        // Apply filters from the DataGrid
        IEnumerable<TarkovData.TarkovItem.WeaponCombination> filteredCombinations = totalCombinations;

        foreach (var filter in state.FilterDefinitions)
        {
            if (filter.Title == nameof(TarkovData.TarkovItem.WeaponCombination.RecoilVertical) && filter.Value is float recoilVertical)
            {
                filteredCombinations = filteredCombinations.Where(x => x.RecoilVertical == recoilVertical);
            }
            else if (filter.Title == nameof(TarkovData.TarkovItem.WeaponCombination.Ergonomics) && filter.Value is float ergonomics)
            {
                filteredCombinations = filteredCombinations.Where(x => x.Ergonomics == ergonomics);
            }
            else if (filter.Title == nameof(TarkovData.TarkovItem.WeaponCombination.Velocity) && filter.Value is float velocity)
            {
                filteredCombinations = filteredCombinations.Where(x => x.Velocity == velocity);
            }
            else if (filter.Title == nameof(TarkovData.TarkovItem.WeaponCombination.AccuracyModifier) && filter.Value is float accuracyModifier)
            {
                filteredCombinations = filteredCombinations.Where(x => x.AccuracyModifier == accuracyModifier);
            }
            else if (filter.Title == nameof(TarkovData.TarkovItem.WeaponCombination.Weight) && filter.Value is float weight)
            {
                filteredCombinations = filteredCombinations.Where(x => x.Weight == weight);
            }
            else if (filter.Title == "Base Price" && filter.Value is double basePriceDouble)
            {
                // Handle the operator from the filter (e.g., ">", "<", ">=", "<=", "=", "!=")
                switch (filter.Operator)
                {
                    case ">":
                        filteredCombinations = filteredCombinations.Where(x => x.BasePrice > (int)basePriceDouble);
                        break;
                    case "<":
                        filteredCombinations = filteredCombinations.Where(x => x.BasePrice < (int)basePriceDouble);
                        break;
                    case ">=":
                        filteredCombinations = filteredCombinations.Where(x => x.BasePrice >= (int)basePriceDouble);
                        break;
                    case "<=":
                        filteredCombinations = filteredCombinations.Where(x => x.BasePrice <= (int)basePriceDouble);
                        break;
                    case "=":
                        filteredCombinations = filteredCombinations.Where(x => x.BasePrice == (int)basePriceDouble);
                        break;
                    case "!=":
                        filteredCombinations = filteredCombinations.Where(x => x.BasePrice != (int)basePriceDouble);
                        break;
                    default:
                        // If no known operator, log or handle the default case
                        Console.WriteLine($"Unsupported operator: {filter.Operator}");
                        break;
                }
            }
            // Add additional filtering logic for other properties as needed
        }

        // Apply sorting
        IOrderedEnumerable<TarkovData.TarkovItem.WeaponCombination> sortedCombinations = filteredCombinations.OrderBy(x => 0); // Default ordering
        foreach (var sortDefinition in state.SortDefinitions)
        {
            if (sortDefinition.SortBy == nameof(TarkovData.TarkovItem.WeaponCombination.RecoilVertical))
            {
                sortedCombinations = !sortDefinition.Descending
                    ? sortedCombinations.ThenBy(x => x.RecoilVertical)
                    : sortedCombinations.ThenByDescending(x => x.RecoilVertical);
            }
            else if (sortDefinition.SortBy == nameof(TarkovData.TarkovItem.WeaponCombination.Ergonomics))
            {
                sortedCombinations = !sortDefinition.Descending
                    ? sortedCombinations.ThenBy(x => x.Ergonomics)
                    : sortedCombinations.ThenByDescending(x => x.Ergonomics);
            }
            else if (sortDefinition.SortBy == nameof(TarkovData.TarkovItem.WeaponCombination.Velocity))
            {
                sortedCombinations = !sortDefinition.Descending
                    ? sortedCombinations.ThenBy(x => x.Velocity)
                    : sortedCombinations.ThenByDescending(x => x.Velocity);
            }
            else if (sortDefinition.SortBy == nameof(TarkovData.TarkovItem.WeaponCombination.AccuracyModifier))
            {
                sortedCombinations = !sortDefinition.Descending
                    ? sortedCombinations.ThenBy(x => x.AccuracyModifier)
                    : sortedCombinations.ThenByDescending(x => x.AccuracyModifier);
            }
            else if (sortDefinition.SortBy == nameof(TarkovData.TarkovItem.WeaponCombination.Weight))
            {
                sortedCombinations = !sortDefinition.Descending
                    ? sortedCombinations.ThenBy(x => x.Weight)
                    : sortedCombinations.ThenByDescending(x => x.Weight);
            }
            else if (sortDefinition.SortBy == nameof(TarkovData.TarkovItem.WeaponCombination.BasePrice))
            {
                sortedCombinations = !sortDefinition.Descending
                    ? sortedCombinations.ThenBy(x => x.BasePrice)
                    : sortedCombinations.ThenByDescending(x => x.BasePrice);
            }
            // Add additional sorting logic for other properties as needed
        }

        // Pagination logic
        var currentPage = state.Page;
        var paginatedCombinations = sortedCombinations.Skip(currentPage * state.PageSize).Take(state.PageSize).ToList();

        return new GridData<TarkovData.TarkovItem.WeaponCombination>
            {
                Items = paginatedCombinations,
                TotalItems = filteredCombinations.Count()
            };
    }

    protected override async Task OnInitializedAsync()
    {
        string filePath = Path.Combine(Environment.GetFolderPath(Environment.SpecialFolder.LocalApplicationData), "TarkovData.json");

        try
        {
            await TarkovData.TarkovItem.DownloadTable();
            Categories = TarkovData.TarkovItem.GetDistinctCategories();
            Calibers = TarkovData.TarkovItem.GetDistinctCalibers();

            var jsonData = JsonSerializer.Serialize(TarkovData.TarkovItem.DataTable.Values);
            await File.WriteAllTextAsync(filePath, jsonData);
        }
        catch (Exception ex)
        {
            ErrorMessage = $"An error occurred: {ex.Message}";
        }
        finally
        {
            IsLoading = false;
            SetMinMaxSliders(); // Ensure min/max values are initialized after data is loaded
        }
    }

    protected override void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);
    }

    private IEnumerable<TarkovData.TarkovItem> FilteredWeaponNames =>
    TarkovData.TarkovItem.DataTable.Values
    .Where(item => item.types.Split('|').Contains("gun", StringComparer.OrdinalIgnoreCase) &&
    (!SelectedCategories.Any() || SelectedCategories.Contains(item.categoryName)) &&
    (!SelectedCalibers.Any() || SelectedCalibers.Contains(item.caliber)));

    private void OnSelectedCategoryChanged()
    {
        SelectedWeapons.Clear(); // Clear selected weapons to refresh the list
        StateHasChanged(); // Ensure the state is updated
        Console.WriteLine($"SelectedCategories changed to: {string.Join(", ", SelectedCategories)}");
    }

    private async Task OnSelectedWeightChanged(ChangeEventArgs e)
    {
        var selectedValues = await JSRuntime.InvokeAsync<List<string>>("getSelectedValues", "weightSelect");
        if (selectedValues.Any())
        {
            SelectedWeights = selectedValues.Select(float.Parse);
        }
        Console.WriteLine($"SelectedWeights changed to: {string.Join(", ", SelectedWeights)}");
    }

    private void UpdateAvailableSlots(TarkovData.TarkovItem selectedWeapon)
    {
        AvailableSlots.Clear();

        if (selectedWeapon != null && TarkovData.TarkovItem.DataTableSlots.TryGetValue(selectedWeapon.id, out var weaponSlots))
        {
            foreach (var slot in weaponSlots.Values)
            {
                foreach (var allowedId in slot.allowedIDs)
                {
                    var allowedItem = TarkovData.TarkovItem.DataTable.GetValueOrDefault(allowedId);
                    if (allowedItem != null)
                    {
                        AvailableSlots.Add(new DisplaySlot
                            {
                                ItemId = slot.itemId,
                                SlotId = slot.slotId,
                                SlotName = slot.name,
                                AllowedItemId = allowedItem.id,
                                AllowedItemName = allowedItem.name
                            });
                    }
                }
            }
        }
    }

    private async Task OnSelectedErgonomicsChanged(ChangeEventArgs e)
    {
        var selectedValues = await JSRuntime.InvokeAsync<List<string>>("getSelectedValues", "ergonomicsSelect");
        if (selectedValues.Any())
        {
            SelectedErgonomics = float.Parse(selectedValues.First());
        }
        Console.WriteLine($"SelectedErgonomics changed to: {SelectedErgonomics}");
    }

    private void OnWeaponSelected(TarkovItem weapon)
    {
        SelectedWeapon = weapon;
        GenerateWeaponCombinations(SelectedWeapon);
    }

    private void OnWeaponRowClicked(TarkovData.TarkovItem weapon)
    {
        if (SelectedWeapons.Contains(weapon.name))
        {
            SelectedWeapons.Remove(weapon.name);
        }
        else
        {
            SelectedWeapons.Add(weapon.name);
        }

        SelectedWeapon = SelectedWeapons.Any()
            ? TarkovData.TarkovItem.DataTable.Values.FirstOrDefault(w => w.name == SelectedWeapons.Last())
            : null;
        OnWeaponSelected(SelectedWeapon);
        UpdateAvailableSlots(SelectedWeapon);
        SetMinMaxSliders();
        StateHasChanged();
    }

    private IEnumerable<TarkovData.TarkovItem.WeaponCombination> ApplyFilters(
    IEnumerable<TarkovData.TarkovItem.WeaponCombination> combinations,
    Dictionary<string, Func<TarkovData.TarkovItem.WeaponCombination, bool>> filterDefinitions)
    {
        foreach (var filter in filterDefinitions)
        {
            combinations = combinations.Where(filter.Value);
        }
        return combinations;
    }

    private async Task OnSelectedWeaponChanged(ChangeEventArgs e)
    {
        SelectedWeapons = await JSRuntime.InvokeAsync<List<string>>("getSelectedValues", "weaponSelect");
        if (SelectedWeapons.Any())
        {
            SelectedWeapon = TarkovData.TarkovItem.DataTable.Values.FirstOrDefault(w => w.name == SelectedWeapons.First());
        }
        Console.WriteLine($"SelectedWeapons changed to: {string.Join(", ", SelectedWeapons)}");
    }

    private async Task OnSelectedCaliberChanged()
    {
        Console.WriteLine($"SelectedCalibers changed to: {string.Join(", ", SelectedCalibers)}");

        StateHasChanged();
    }

    private async Task OnSelectedRecoilVerticalChanged()
    {
        var selectedValues = await JSRuntime.InvokeAsync<List<string>>("getSelectedValues", "recoilVerticalSelect");
        SelectedVerticalRecoils = selectedValues.Select(float.Parse);
        Console.WriteLine($"SelectedRecoilVerticals changed to: {string.Join(", ", SelectedVerticalRecoils)}");
    }

    private async Task OnSelectedVelocityChanged(ChangeEventArgs e)
    {
        var selectedValues = await JSRuntime.InvokeAsync<List<string>>("getSelectedValues", "velocitySelect");
        if (selectedValues.Any())
        {
            SelectedVelocity = float.Parse(selectedValues.First());
        }
        Console.WriteLine($"SelectedVelocity changed to: {SelectedVelocity}");
    }

    private async Task OnSelectedBasePriceChanged(ChangeEventArgs e)
    {
        var selectedValues = await JSRuntime.InvokeAsync<List<string>>("getSelectedValues", "basePriceSelect");
        if (selectedValues.Any())
        {
            SelectedBasePrice = int.Parse(selectedValues.First());
        }
        Console.WriteLine($"SelectedBasePrice changed to: {SelectedBasePrice}");
    }

    private async Task OnSelectedAccuracyModifierChanged(ChangeEventArgs e)
    {
        var selectedValues = await JSRuntime.InvokeAsync<List<string>>("getSelectedValues", "accuracyModifierSelect");
        if (selectedValues.Any())
        {
            SelectedAccuracyModifiers = selectedValues.Select(float.Parse);
        }
        Console.WriteLine($"SelectedAccuracyModifiers changed to: {string.Join(", ", SelectedAccuracyModifiers)}");
    }

    [JSInvokable]
    public void UpdateSelectedWeapons(List<string> selectedWeapons)
    {
        SelectedWeapons = selectedWeapons;
        if (SelectedWeapons.Any())
        {
            SelectedWeapon = TarkovData.TarkovItem.DataTable.Values.FirstOrDefault(w => w.name == SelectedWeapons.First());
        }
        StateHasChanged();
    }

    public class DisplaySlot
    {
        public string ItemId { get; set; }
        public string SlotId { get; set; }
        public string SlotName { get; set; }
        public string AllowedItemId { get; set; }
        public string AllowedItemName { get; set; }
    }
}
