@page "/gun-configurator"
@using Microsoft.JSInterop
@using MudExtensions
@using TarkovDataOrganizer

<script>
    function getSelectedValues(selectId) {
        var select = document.getElementById(selectId);
        if (select) {
            var selectedValues = [];
            for (var i = 0; i < select.options.length; i++) {
                if (select.options[i].selected) {
                    selectedValues.push(select.options[i].value);
                }
            }
            return selectedValues;
        } else {
            console.error(`Element with id ${selectId} not found.`);
            return [];
        }
    }

    function toggleSelection(rowId) {
        var row = document.getElementById(rowId);
        row.classList.toggle('selected');

        var selectedValues = [];
        var selectedRows = document.querySelectorAll('.weapon-row.selected');
        selectedRows.forEach(row => {
            selectedValues.push(row.getAttribute('data-value'));
        });

        DotNet.invokeMethodAsync('YourAssemblyName', 'UpdateSelectedWeapons', selectedValues);
    }
</script>

<style>
    .weapon-image-container {
        display: flex;
        flex-direction: column;
        height: 100px;
        overflow-y: scroll;
    }

    .weapon-image {
        width: 50px;
        height: 50px;
        margin: 5px;
    }

    .weapon-table {
        width: 100%;
    }

    .weapon-table-td {
        height: 79px;
        display: flex;
        overflow-y: scroll;
    }

    .weapon-row {
        cursor: pointer;
    }

        .weapon-row.selected {
            background-color: #d3d3d3; /* Highlight selected row */
        }
</style>

<h3>Gun Configurator</h3>

@if (IsLoading)
{
    <p>Loading, please wait...</p>
}
else if (ErrorMessage != null)
{
    <p style="color:red">@ErrorMessage</p>
}
else
{
    <div style="display: grid; grid-template-columns: 1fr 1fr; grid-template-rows: auto auto; gap: 16px; padding: 16px;">
        <!-- First Pane -->
        <div>
            <table>
                <thead>
                    <tr>
                        <th>Category</th>
                        <th>Weapon</th>
                        <th>Caliber</th>
                        <th>Attachments</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <MudSelect T="string" Label="Select Categories" Variant="Variant.Filled" @bind-Value="SelectedCategory" @bind-SelectedValues="SelectedCategories" MultiSelection="true" OnClose="OnSelectedCategoryChanged">
                                @foreach (var category in Categories)
                                {
                                    <MudSelectItem T="string" Value="@category">@category</MudSelectItem>
                                }
                            </MudSelect>
                        </td>
                        <td class="weapon-table-td">
                            <table class="weapon-table">
                                @foreach (var weapon in FilteredWeaponNames)
                                {
                                    <tr id="weapon-@weapon.shortName" class="weapon-row" data-value="@weapon.name" @onclick="() => OnWeaponRowClicked(weapon)">
                                        <td>
                                            <img src="@weapon.defaultPresetGridImageLink" alt="@weapon.shortName" class="weapon-image" />
                                            @weapon.shortName
                                        </td>
                                    </tr>
                                }
                            </table>
                        </td>
                        <td>
                            <MudSelect T="string" Label="Select Caliber" Variant="Variant.Filled" @bind-Value="SelectedCaliber" @bind-SelectedValues="SelectedCalibers" id="caliberSelect" MultiSelection="true" OnClose="OnSelectedCaliberChanged">
                                @foreach (var caliber in Calibers)
                                {
                                    <MudSelectItem T="string" Value="@caliber">@caliber</MudSelectItem>
                                }
                            </MudSelect>
                        </td>
                        @if (SelectedWeapon != null)
                        {
                            <td>
                                <MudSelect T="string" @bind-Value="SelectedAttachment" Variant="Variant.Filled" InputId="attachmentSelect">
                                    @foreach (var slot in AvailableSlots)
                                    {
                                        <MudSelectItem Value="@slot.AllowedItemId">@slot.SlotName: @slot.AllowedItemName</MudSelectItem>
                                    }
                                </MudSelect>
                            </td>
                        }
                    </tr>
                </tbody>
            </table>
        </div>

        <!-- Second Pane -->
        <div>
            <table>
                <thead>
                    <tr>
                        @if (SelectedWeapon != null)
                        {
                            <th>Recoil Vertical</th>
                            <th>Ergonomics</th>
                            <th>Velocity</th>
                            <th>Base Price</th>
                            <th>Accuracy Modifier</th>
                            <th>Weight</th>
                            <th>Fire Rate</th>
                            <th>Center of Impact</th>
                            <th>Deviation Curve</th>
                            <th>Deviation Max</th>
                        }
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        @if (SelectedWeapon != null)
                        {
                            <td>
                                <MudSlider T="float"
                                           @bind-Value="SelectedVerticalRecoil"
                                           Min="@(SelectedWeapon.recoilVertical / 2)"
                                           Max="@(SelectedWeapon.recoilVertical * 2)"
                                           Step="1"
                                           Variant="Variant.Filled" />
                                <p>Recoil Vertical: @SelectedVerticalRecoil</p>
                                <small>Range: @($"{SelectedWeapon.recoilVertical / 2} - {SelectedWeapon.recoilVertical * 2}")</small>
                            </td>
                            <td>
                                <MudSlider T="float"
                                           Min="@(SelectedWeapon.ergonomics / 2)"
                                           Max="@(SelectedWeapon.ergonomics * 2)"
                                           Step="1"
                                           @bind-Value="SelectedErgonomics"
                                           Variant="Variant.Filled" />
                                <p>Ergonomics: @SelectedErgonomics</p>
                                <small>Range: @($"{SelectedWeapon.ergonomics / 2} - {SelectedWeapon.ergonomics * 2}")</small>
                            </td>
                            <td>
                                <MudSlider T="float"
                                           Min="@(SelectedWeapon.velocity / 2)"
                                           Max="@(SelectedWeapon.velocity * 2)"
                                           Step="10"
                                           @bind-Value="SelectedVelocity"
                                           Variant="Variant.Filled" />
                                <p>Velocity: @SelectedVelocity</p>
                                <small>Range: @($"{SelectedWeapon.velocity / 2} - {SelectedWeapon.velocity * 2}")</small>
                            </td>
                            <td>
                                <MudSlider @bind-Value="SelectedBasePrice"
                                           Min="0"
                                           Max="@(SelectedWeapon.basePrice * 2)"
                                           Step="100"
                                           Variant="Variant.Filled"
                                           ValueLabelFormat="C2" />
                                <p>Base Price: @($"{SelectedBasePrice:C2}")</p>
                                <small>Range: @($"0 - {SelectedWeapon.basePrice * 2:C2}")</small>
                            </td>
                            <td>
                                <MudSlider T="float"
                                           @bind-Value="SelectedAccuracyModifier"
                                           Min="0"
                                           Max="2"
                                           Step="0.01f"
                                           Variant="Variant.Filled" />
                                <p>Accuracy Modifier: @SelectedAccuracyModifier</p>
                                <small>Range: 0 - 2</small>
                            </td>
                            <td>
                                <MudSlider T="float"
                                           @bind-Value="SelectedWeight"
                                           Min="@(SelectedWeapon.weight / 2)"
                                           Max="@(SelectedWeapon.weight * 2)"
                                           Step="0.1f"
                                           Variant="Variant.Filled" />
                                <p>Weight: @SelectedWeight</p>
                                <small>Range: @($"{SelectedWeapon.weight / 2} - {SelectedWeapon.weight * 2}")</small>
                            </td>
                            <td>
                                <MudSlider T="float"
                                           @bind-Value="SelectedFireRate"
                                           Min="@(SelectedWeapon.fireRate / 2)"
                                           Max="@(SelectedWeapon.fireRate * 2)"
                                           Step="1"
                                           Variant="Variant.Filled" />
                                <p>Fire Rate: @SelectedFireRate</p>
                                <small>Range: @($"{SelectedWeapon.fireRate / 2} - {SelectedWeapon.fireRate * 2}")</small>
                            </td>
                            <td>
                                <MudSlider T="float"
                                           @bind-Value="SelectedCenterOfImpact"
                                           Min="@(SelectedWeapon.centerOfImpact / 2)"
                                           Max="@(SelectedWeapon.centerOfImpact * 2)"
                                           Step="0.1f"
                                           Variant="Variant.Filled" />
                                <p>Center of Impact: @SelectedCenterOfImpact</p>
                                <small>Range: @($"{SelectedWeapon.centerOfImpact / 2} - {SelectedWeapon.centerOfImpact * 2}")</small>
                            </td>
                            <td>
                                <MudSlider T="float"
                                           @bind-Value="SelectedDeviationCurve"
                                           Min="@(SelectedWeapon.deviationCurve / 2)"
                                           Max="@(SelectedWeapon.deviationCurve * 2)"
                                           Step="0.1f"
                                           Variant="Variant.Filled" />
                                <p>Deviation Curve: @SelectedDeviationCurve</p>
                                <small>Range: @($"{SelectedWeapon.deviationCurve / 2} - {SelectedWeapon.deviationCurve * 2}")</small>
                            </td>
                            <td>
                                <MudSlider T="float"
                                           @bind-Value="SelectedDeviationMax"
                                           Min="@(SelectedWeapon.deviationMax / 2)"
                                           Max="@(SelectedWeapon.deviationMax * 2)"
                                           Step="0.1f"
                                           Variant="Variant.Filled" />
                                <p>Deviation Max: @SelectedDeviationMax</p>
                                <small>Range: @($"{SelectedWeapon.deviationMax / 2} - {SelectedWeapon.deviationMax * 2}")</small>
                            </td>
                        }
                    </tr>
                </tbody>
            </table>
        </div>

        <!-- Third Pane -->
        <div style="grid-column: span 2; justify-self: end;">
            <div style="display: flex; flex-wrap: wrap; gap: 16px;">
                @foreach (var weaponName in SelectedWeapons)
                {
                    var weapon = TarkovData.TarkovItem.DataTable.Values.FirstOrDefault(w => w.name == weaponName);
                    if (weapon != null)
                    {
                        <div id="weaponDisplay-@weapon.name" style="border: 1px solid #ccc; padding: 8px; width: 200px;">
                            <h3>@weapon.name</h3>
                            <img id="weaponImage-@weapon.name" src="@weapon.defaultPresetBaseImageLink" alt="Selected Weapon Image" style="width: 100%; height: auto;" />
                            <p>Recoil Vertical: @weapon.recoilVertical</p>
                            <p>Recoil Horizontal: @weapon.recoilHorizontal</p>
                            <p>Velocity: @weapon.velocity</p>
                            <p>Base Price: @weapon.basePrice</p>
                            <p>Accuracy Modifier: @weapon.accuracyModifier</p>
                            <p>Weight: @weapon.weight</p>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
}

@code {
    private List<string> Calibers = new List<string>();
    private List<float> RecoilVerticals = new List<float>();
    public List<string> SelectedWeapons { get; set; } = new List<string>();
    public string? SelectedCategory { get; set; }
    public string? SelectedAttachment { get; set; }
    public string? SelectedCaliber { get; set; }
    public IEnumerable<string> SelectedCategories { get; set; } = new List<string>();
    public IEnumerable<string> SelectedCalibers { get; set; } = new List<string>();
    public IEnumerable<float> SelectedVerticalRecoils { get; set; } = new List<float>();
    public float SelectedVerticalRecoil { get; set; }
    public float SelectedVelocity { get; set; }
    public int SelectedBasePrice { get; set; }
    public float SelectedAccuracyModifier { get; set; }
    public float SelectedWeight { get; set; }
    public TarkovData.TarkovItem? SelectedWeapon { get; set; }
    public List<string> Categories { get; set; } = new();
    private IEnumerable<float> SelectedWeights { get; set; } = new List<float>();
    private List<DisplaySlot> AvailableSlots { get; set; } = new List<DisplaySlot>();
    private float SelectedErgonomics { get; set; }
    private bool IsLoading { get; set; } = true;
    private string? ErrorMessage { get; set; }
    private float SelectedFireRate { get; set; }
    private float SelectedCenterOfImpact { get; set; }
    private float SelectedDeviationCurve { get; set; }
    private float SelectedDeviationMax { get; set; }
    // Define SelectedAccuracyModifiers
    private IEnumerable<float> SelectedAccuracyModifiers { get; set; } = new List<float>();

    [Inject] private IJSRuntime JSRuntime { get; set; } = default!;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            await TarkovData.TarkovItem.DownloadTable();
            Categories = TarkovData.TarkovItem.GetDistinctCategories();
            Calibers = TarkovData.TarkovItem.GetDistinctCalibers();
        }
        catch (Exception ex)
        {
            ErrorMessage = $"An error occurred: {ex.Message}";
        }
        finally
        {
            IsLoading = false;
        }
    }

    private IEnumerable<TarkovData.TarkovItem> FilteredWeaponNames =>
        !SelectedCategories.Any()
            ? TarkovData.TarkovItem.DataTable.Values
                .Where(item => item.types.Split('|').Contains("gun", StringComparer.OrdinalIgnoreCase))
            : TarkovData.TarkovItem.DataTable.Values
                .Where(item => item.types.Split('|').Contains("gun", StringComparer.OrdinalIgnoreCase) &&
                               SelectedCategories.Contains(item.categoryName));

    private void OnSelectedCategoryChanged()
    {
        SelectedWeapons.Clear(); // Clear selected weapons to refresh the list
        StateHasChanged(); // Ensure the state is updated
        Console.WriteLine($"SelectedCategories changed to: {string.Join(", ", SelectedCategories)}");
    }

    private async Task OnSelectedWeightChanged(ChangeEventArgs e)
    {
        var selectedValues = await JSRuntime.InvokeAsync<List<string>>("getSelectedValues", "weightSelect");
        if (selectedValues.Any())
        {
            SelectedWeights = selectedValues.Select(float.Parse);
        }
        Console.WriteLine($"SelectedWeights changed to: {string.Join(", ", SelectedWeights)}");
    }

    private void UpdateAvailableSlots(TarkovData.TarkovItem selectedWeapon)
    {
        AvailableSlots.Clear();

        if (selectedWeapon != null && TarkovData.TarkovItem.DataTableSlots.TryGetValue(selectedWeapon.id, out var weaponSlots))
        {
            foreach (var slot in weaponSlots.Values)
            {
                foreach (var allowedId in slot.allowedIDs)
                {
                    var allowedItem = TarkovData.TarkovItem.DataTable.GetValueOrDefault(allowedId);
                    if (allowedItem != null)
                    {
                        AvailableSlots.Add(new DisplaySlot
                            {
                                ItemId = slot.itemId,
                                SlotId = slot.slotId,
                                SlotName = slot.name,
                                AllowedItemId = allowedItem.id,
                                AllowedItemName = allowedItem.name
                            });
                    }
                }
            }
        }
    }

    private async Task OnSelectedErgonomicsChanged(ChangeEventArgs e)
    {
        var selectedValues = await JSRuntime.InvokeAsync<List<string>>("getSelectedValues", "ergonomicsSelect");
        if (selectedValues.Any())
        {
            SelectedErgonomics = float.Parse(selectedValues.First());
        }
        Console.WriteLine($"SelectedErgonomics changed to: {SelectedErgonomics}");
    }

    private void OnWeaponRowClicked(TarkovData.TarkovItem weapon)
    {
        if (SelectedWeapons.Contains(weapon.name))
        {
            SelectedWeapons.Remove(weapon.name);
        }
        else
        {
            SelectedWeapons.Add(weapon.name);
        }

        // Optionally, you could update SelectedWeapon based on last selected or other logic
        SelectedWeapon = SelectedWeapons.Any()
            ? TarkovData.TarkovItem.DataTable.Values.FirstOrDefault(w => w.name == SelectedWeapons.Last())
            : null;

        UpdateAvailableSlots(SelectedWeapon);
        StateHasChanged();
    }

    private async Task OnSelectedWeaponChanged(ChangeEventArgs e)
    {
        SelectedWeapons = await JSRuntime.InvokeAsync<List<string>>("getSelectedValues", "weaponSelect");
        if (SelectedWeapons.Any())
        {
            SelectedWeapon = TarkovData.TarkovItem.DataTable.Values.FirstOrDefault(w => w.name == SelectedWeapons.First());
        }
        Console.WriteLine($"SelectedWeapons changed to: {string.Join(", ", SelectedWeapons)}");
    }

    private async Task OnSelectedCaliberChanged()
    {
        SelectedCalibers = await JSRuntime.InvokeAsync<List<string>>("getSelectedValues", "caliberSelect");
        Console.WriteLine($"SelectedCalibers changed to: {string.Join(", ", SelectedCalibers)}");
    }

    private async Task OnSelectedRecoilVerticalChanged()
    {
        var selectedValues = await JSRuntime.InvokeAsync<List<string>>("getSelectedValues", "recoilVerticalSelect");
        SelectedVerticalRecoils = selectedValues.Select(float.Parse);
        Console.WriteLine($"SelectedRecoilVerticals changed to: {string.Join(", ", SelectedVerticalRecoils)}");
    }

    private async Task OnSelectedVelocityChanged(ChangeEventArgs e)
    {
        var selectedValues = await JSRuntime.InvokeAsync<List<string>>("getSelectedValues", "velocitySelect");
        if (selectedValues.Any())
        {
            SelectedVelocity = float.Parse(selectedValues.First());
        }
        Console.WriteLine($"SelectedVelocity changed to: {SelectedVelocity}");
    }

    private async Task OnSelectedBasePriceChanged(ChangeEventArgs e)
    {
        var selectedValues = await JSRuntime.InvokeAsync<List<string>>("getSelectedValues", "basePriceSelect");
        if (selectedValues.Any())
        {
            SelectedBasePrice = int.Parse(selectedValues.First());
        }
        Console.WriteLine($"SelectedBasePrice changed to: {SelectedBasePrice}");
    }

    private async Task OnSelectedAccuracyModifierChanged(ChangeEventArgs e)
    {
        var selectedValues = await JSRuntime.InvokeAsync<List<string>>("getSelectedValues", "accuracyModifierSelect");
        if (selectedValues.Any())
        {
            SelectedAccuracyModifiers = selectedValues.Select(float.Parse);
        }
        Console.WriteLine($"SelectedAccuracyModifiers changed to: {string.Join(", ", SelectedAccuracyModifiers)}");
    }

    [JSInvokable]
    public void UpdateSelectedWeapons(List<string> selectedWeapons)
    {
        SelectedWeapons = selectedWeapons;
        if (SelectedWeapons.Any())
        {
            SelectedWeapon = TarkovData.TarkovItem.DataTable.Values.FirstOrDefault(w => w.name == SelectedWeapons.First());
        }
        StateHasChanged();
    }

    public class DisplaySlot
    {
        public string ItemId { get; set; }
        public string SlotId { get; set; }
        public string SlotName { get; set; }
        public string AllowedItemId { get; set; }
        public string AllowedItemName { get; set; }
    }
}
